.quoteView {
  text-align: center;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
}

.blockquote {
  margin: 0 auto;
  /* padding: 0; */
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-shadow: 1px 1px 1px #fff;
}

.quoteContent::before {
  content: '"';
  margin-right: 0.2rem;
}

.quoteContent::after {
  content: '"';
  margin-left: 0.2rem;
}
