.editor {
  position: absolute;
  top: 50vh;
  left: 0;
  right: 0;
  bottom: 5rem;
}

.testFontText {
  margin: 20px;
  font-size: 2em;
}

.policeItem {
  margin: 20px;
  cursor: pointer;
  font-size: 2em;
}