/*styles for all editors*/
.editor{
    position: absolute;
    width: 100vw;
    height: 60vh;
    overflow: scroll;
    transform: translateY(-100%);
}

/* + optionnaly, or optionally*/
.center{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.padd{
    padding: 6em 0;
}

/*styles for image editor*/
.imageList{
    padding: 0.5em;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
}

.imageList li{
    /* list-style: none; */
    width: 30vw;
    height: 30vh;
    border-radius: 30px;
}

.imagePreview{
    width: 100%;
    height: 100%;
    border-radius: 30px;
}

/*styles for color editor*/

.spanColor1{
    width: 24px;
    height: 24px; 
    clip-path: path("M12 4.419c-2.826-5.695-11.999-4.064-11.999 3.27 0 7.27 9.903 10.938 11.999 15.311 2.096-4.373 12-8.041 12-15.311 0-7.327-9.17-8.972-12-3.27z");
    transform: scale(6);
    background-color: #A92360;
    display:inline-block;
}

.inputColor1 {
    opacity: 0;
}

.textUnderColor{
    color: #000000;
    font-style: italic;
    font-size: 0.8rem;
    text-align: center;
}

/* btns author / quote, for Font and Color*/
.btnsDiv{
    width: 75%;
    max-width: 300px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.selectedBtn {
    padding: 10px 18px;
    border-radius: 16px;
    font-size: 0.8em;
    border: none;
    background-color: rgb(234, 229, 238);
    cursor: pointer;
}

.selectedBtn:disabled {
    background-color: #A92360;
    color: #FFFF;
    cursor: default;
}

/* styles for font editor*/
.policeList{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 25vh;
    border-bottom: 1px solid #8f8f8f;
}

.policeList > :nth-child(odd):last-child {
    grid-column-end: span 2;
}

.policeList li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2em;
    list-style: none;
    margin: 10px;
    cursor: pointer;
    color: #000000;
}
  
.policeList li:hover, .policeList li:visited, .policeList li:focus {
    color: #A92360;
}

.arrow {
    display: block;
    position: absolute;
    right: 20px;
    top: 0px;
    width: 40px;
    height: 25px;
    background: #000000;
    margin: 16px;
    clip-path: polygon(19% 0, 51% 57%, 82% 0, 100% 0, 52% 100%, 0 0);
    transition: 0.6s;
}
  
.arrow:hover {
    cursor: pointer;
    background:#A92360;
}

.translateEditor {
    height: 60px;
    transform: translateY(32vh);
}
   
.translateList {
    display: none;
}


.sizePolice {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.range {
    -webkit-appearance: none;
     appearance: none;
     background: transparent;
     cursor: pointer;
     width: 12rem;
     margin: 20px;
}
  
/* Removes default focus */
.range:focus {
 outline: none;
}

.range::-webkit-slider-runnable-track {
  background-color: #ffffff;
  border: #000000 1px solid;
  border-radius: 0.5rem;
  height: 0.5rem;
}

/* slider thumb */
.range::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
   appearance: none;
   margin-top: -10px; /* Centers thumb on the track */

   /*custom styles*/
   background: #A92360;
   height: 1.8rem;
   width: 1rem;
   border-radius: 5px;
}



  
/* .labelColor {
    color: #A92360;
} */
  
  