* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  /* overflow: hidden; */
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  position: relative;
  /* height: 100vh; */
  /* overflow: hidden; */
}
