@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

.title{
    text-align: center;
    font-family: 'Courgette', cursive;
    font-size: 2em;
    margin: 6vh 0 3vh;
    background: radial-gradient(50% 50% at 50% 50%, #792369 0%, #D83458 33.85%, #F6964B 68.23%, #FBB746 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

